.header{
	background-color:#0e8818;	
	width:100vw;
	height:30vh;
	display:flex;
	justify-content:space-between;
}
.logo{
	margin:15px;
	text-align:center;
}
.logo__img{
	border-radius:25%;
	width:90%;
	height:70%;
}
.logo__nombre{
	background-color:rgba(192, 255, 208, 0.514);
	margin:5px;
	border:solid 2px black ;
	
}
.user{
	text-align:center;
}
.main{
	text-align:center;
	background-image:url(../imagenes/fondo3.jpg);
	background-repeat:repeat;
	padding:10px;
	border-top: solid 2px black;
	border-bottom: solid 2px black;
	
}
.main__titulo{
	margin:0px;
}

.texto{
	font-size: 24px;
}

.footer{
	text-align:center;
	color:rgb(238, 232, 232);
	background-color: #0e8818;
	width:100vw;
	height:15vh;
	margin:0px;
	padding-top:16px;
}
.footer__datos{
	margin:0px;
}
.saludo{
	font-size:30px;
	display:block;
	text-align:center;
	margin:9%;
	font-weight:900;
}
